button {
    height: 50px;
    width: 100px;
}

button::before {
    content: 'Pasa por encima';
}

.button-1:hover{
    color: white;
    background-color: green;
    
}
button:hover::before{
        content: '¡Hecho!'; 
}

