button {
    height: 50px;
    width: 100px;
}

button:hover {
    color: white;
    background-color: green;
    
}

button::before {
    content: 'Pasa por encima';
}

.button-1 button::after {
    content: 'Hecho';
}
